canvas {
  width: 80vw;
  max-width: 80vh;
  aspect-ratio: 1 / 1;
}

.wrapper {
  height: 100vh;
  background: #0f172a;
  display: flex;
  align-items: center;
  justify-content: center;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
