canvas {
  width: 80vw;
  max-width: 80vh;
  aspect-ratio: 1 / 1;
  border: 1px solid #64748b; // tw-slate-900
}

.wrapper {
  height: 100vh;
  background: #0f172a; /* tw-slate-900 */
  display: flex;
  align-items: center;
  justify-content: center;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
